<!DOCTYPE html>
<html lang="en" ng-app="pathfinder">
<div ng-include src="'header.html'"></div>
<div ng-include src="'navbar.html'"></div>
    <div class="container" id="content">
      <h1>Dragons for Low-INT Adventurers!</h1>

      <p>True dragons are divided into two broad categories: chromatic and metallic. Chromatic dragons are almost universally evil, seeking only to slake their endless lust for food, treasure, and bloodshed. Metallic dragons are generally good and often protect the lands under their care. Each dragon is also tied to an element.</p>

      <div class="twop-center">
          <table class="table-bordered table-striped">
            <thead>
                <th>Metallic (good)</th>
                <th>Chromatic (evil)</th>
            </thead>
            <tbody>
                <tr>
                    <td>Brass (fire)</td>
                    <td>White (cold)</td>
                </tr>
                <tr>
                    <td>Copper (earth)</td>
                    <td>Black (water)</td>
                </tr>
                <tr>
                    <td>Bronze (water)</td>
                    <td>Green (air)</td>
                </tr>
                <tr>
                    <td>Silver (cold)</td>
                    <td>Blue (earth)</td>
                </tr>
                <tr>
                    <td>Gold (fire)</td>
                    <td>Red (fire)</td>
                </tr>
            </tbody>
          </table>
          <br>
          <img src="img/dragon_busts.png" alt="dragon head busts"></img>
      </div>

      <br>
      <p>A dragon&#39;s abilities improve with its age, which can reach 1200 years or more. Dragons can fly as well as use a breath attack - the exact effects are different for each type of dragon. In addition to its breath, a dragon can attack with its teeth, claws, wings, and tail. Dragons can also cast spells, similar to a sorcerer.</p>
    </div>
<script src="js/angular.min.js"></script>
<script src="js/angular-sanitize.min.js"></script>
<script src="js/app.js"></script>
<div ng-include src="'footer.html'"></div>
</html>