<a href="#content" class="sr-only">Skip to main content</a>
<nav class="navbar navbar-default" role="navigation">
	  <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="http://www.2pmode4life.com">2P Mode 4 Life</a>
      </div>
	    <!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		  <ul class="nav navbar-nav">
			<li class="dropdown">
			  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Basic Games<b class="caret"></b></a>
			  <ul class="dropdown-menu">
				<li><a href="#">Cards Against Humanity</a></li>
				<li><a href="#">Fluxx</a></li>
				<li><a href="#">King of Tokyo</a></li>
				<li><a href="#">Zombie Dice</a></li>
			  </ul>
			</li>
			<li class="dropdown">
			  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Standard Games<b class="caret"></b></a>
			  <ul class="dropdown-menu">
				<li><a href="#">Betrayal at House on the Hill</a></li>
				<li><a href="#">Forbidden Desert</a></li>
				<li><a href="#">Munchkin</a></li>
				<li><a href="#">Small World</a></li>
			  </ul>
			</li>
			<li class="dropdown">
			  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Advanced Games<b class="caret"></b></a>
			  <ul class="dropdown-menu">
				<li><a href="#">Arkham Horror</a></li>
			  </ul>
			</li>
			<li class="dropdown">
			  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pathfinder - RotRL<b class="caret"></b></a>
			  <ul class="dropdown-menu">
				<li><a href="http://www.2pmode4life.com/pathfinder.html">Resources</a></li>
				<li><a href="http://www.2pmode4life.com/party.html">The Party</a></li>
				<li><a href="http://www.2pmode4life.com/sessions/rotrl_chapter1.html">Chapter 1 Notes</a></li>
				<li><a href="http://www.2pmode4life.com/sessions/rotrl_chapter2.html">Chapter 2 Notes</a></li>
			  </ul>
			</li>
		  </ul>
		  <ul class="nav navbar-nav navbar-right">
			<li><a href="http://www.2pmode4life.com/about.html">About</a></li>
		  </ul>
		</div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
</nav>