<div class="container" id="content" ng-app="pathfinder">
    <div ng-controller="TabController as tab">
        <ul class="nav nav-pills">
            <li ng-class="{'active':tab.isSet(0)}">
                <a href ng-click="tab.setTab(0)">Chapter 1</a>
            </li>
            <li ng-class="{'active':tab.isSet(1)}">
                <a href ng-click="tab.setTab(1)">Chapter 2</a>
            </li>
            <li ng-class="{'active':tab.isSet(2)}">
                <a href ng-click="tab.setTab(2)">Chapter 3</a>
            </li>
        </ul>
        <div ng-controller="SessionController as session">
            <div ng-repeat="chapter in session.notes">
                <div ng-show="tab.isSet($index)">
                    <h1>Session notes for {{chapter.chapter_name}}</h1>
                    <div ng-repeat="session in chapter.sessions">
                        <div id="{{session.id}}">
                            <h3>{{session.title}} <small>{{session.date}}</small></h3>
                            <div ng-repeat="summaryline in session.summary">
                                <p ng-bind-html="summaryline"></p>
                            </div>
                        </div>
                        <br/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>