{{>header}}
{{>navbar}}
<div class="container" id="content">
  <h1>Hello, world!</h1>
  <p>
	Welcome to 2P Mode 4 Life, a website dedicated to the favorite tabletop games my friends and I enjoy. Games are always better when played face-to-face, and it's nice
	to put the video game controllers down sometimes and just roll some dice.
  </p>
  <p>
	At this site, you will find my game reviews of the board games we enjoy the most. You will also see links to reviews done by my favorite online game reviewers.<br/>
	I have broken up the games into a few main categories:
  </p>
  <ul>
	<li>Basic Games: straight-forward games that can be learned quickly and without a lot of complex rules</li>
	<li>Standard Games: medium-complexity games for people familiar with picking up new rules</li>
	<li>Advanced Games: not for the faint of heart, these games have deep & complex rules</li>
  </ul>
  <p>
	I also will be tracking the exploits and (mis?)adventures of my friends as we play through the Pathfinder adventure path Rise of the Runelords.
  </p>
</div>
{{>footer}}