
@font-face {
    font-family: 'English Towne'; /*a name to be used later*/
    src: url('../font/EnglishTowne.ttf'); /*URL to font*/
}

/*
body {
	background-image:url("../img/parchment_paper_background_1800x1600.jpg");
}

p::first-letter {
	font-family: "English Towne";
	font-size:2em;
}

small {
	font-style: italic;
}

h1 h2 body {
	font-family: fantasy, serif;
}

h2 {
	font-family: "English Towne";
	font-size: 2.5em;
}
*/

.for-sale-caption {
	font-weight: bold;
	padding-bottom: 0.5em;
}

.for-sale-table td:nth-child(1) {
	width: 65%;	
}

.for-sale-table td:nth-child(2) {
	width: 35%;	
}

.spell-name {
	font-style: italic;
}

.twop-center {
	display: table;
	float: none;
    margin-left: auto;
    margin-right: auto;
}

.olde-font {
	font-family: 'English Towne', Fallback, sans-serif;
}