<h1>{[{city.name}]}</h1>
<p class="text-center alert alert-success" role="alert">Any magic item of {[{city.base_value}]} or less has a 75% chance of being found in {[{city.name}]}.</p>
<h2>Items for Sale</h2>
<div ng-repeat="forsale in city.for_sale">
    <table class="table table-striped table-bordered for-sale-table">
        <caption class="for-sale-caption">{[{forsale.type}]}</caption>
        <thead>
            <tr>
                <td>Name</td>
                <td>Price</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in forsale.items">
                <td><a href="{[{item.url}]}">{[{item.name}]}</a></td>
                <td>{[{item.price}]}</td>
            </tr>
        </tbody>
    </table>
    <br/>
</div>